html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  /* Offset the container below the topbar */
  padding-top: 60px;
}

.container-fluid {
  width: 100%;
  height: 100%;
}

.row-fluid.info {
  width: 100%;
  height: 100%;
  > div {
    height: 100%;
    > .logs {
      height: 50%;
      overflow-y: scroll;
    }
    > .chat {
      height: 50%;
      overflow-y: scroll;
    }
  }
}
.row-fluid.chat {
  widows: 100%;
  height: 30%;
}
/*
.navbar {
  width: 440px;
}

.container {
  width: 400px !important;
  margin-left: 20px;
}
*/

.player {
  .increment, .remove, .icescream {
    &:hover {
      cursor: pointer;
    }
  }
}

.logs {
  h3 {display: inline; margin: 5px;}
}

textarea { width: 95%;}



